[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "_plugins/jekyll-org"]
	path = _plugins/jekyll-org
	url = http://github.com/eggcaker/jekyll-org.git
